/* アニメーション中のスタイル */
.fullGuard{
    position: fixed;
    left: 0;
    top: 0;
        width:  100%;
        height: 100%;
        z-index:9;
    background-color: rgba(255, 255, 255, 0);
}
#ClearLoading{
    position: fixed;
    left: 0;
    top: 0;
        width:  100%;
        height: 100%;
        z-index:5;
    background-color: rgba(109, 109, 109, 0.253);
    transition: all 0.5s ease; 
}
#loadingGif{
    width: 80px;
    height: 80px;
    position: fixed;
    left: 47%;
    top: 50%;
    transition: all 0.2s ease;

}


#loadingImg{
    width: 120px;
    height: 120px;
    position: fixed;
        left:45%;
        top: 45%;
        
        opacity:1;
}

#loading{
    position: fixed;
        left: 0px;
        top: 0px;
    width: 100%;
    height: 100%;
    /* z-index: 0; */
    background-color: rgb(252, 252, 252);
    
   
}

/* header ########################### */
h2{
    text-align: center;
}
body{
    color: rgb(75, 75, 75);
    font-family: 'Noto Sans JP', sans-serif;
    margin-right: auto ;
    margin-left: auto ;
    min-width: 500px;
    max-width: 1200px;
}

header {
    width:98%;
    margin-right: auto ;
    margin-left: auto ;
    display: flex;
    justify-content: space-between; 
    margin-bottom: -20px;
    min-width: 600px; 
}

.adTopText{
    border-top: 5px;
}

a:visited,  a{
    color:rgb(75, 75, 75);
    text-decoration: none;
}

#headLeft{
    display: flex;
    width: 450px;
    vertical-align: bottom;
    font-size: 18px;
}

#headimg{
    height: 80px;
    width: 80px;
    margin: 10px;
}
header h1 {
    position: relative;
    top:8px;
    left: 10px;
}
#headRight p, #headRight a{
    font-size: 13px;
    margin-bottom: -5px;
    text-align: end;
}


/* footer ############################### */
footer{
    height: 30px;
    display: flex;
    justify-content: space-around;
}
#right{
    background-color: rgb(255, 210, 210);
} 
#left{
    background-color: rgb(210, 233, 255);
} 

/* main #################################### */
/* index */
.box1{
    display: flex;
    flex-direction: column;
}

.box1 h2, .box1 h3 , .box1 h4, .box1 p{
    text-align: center;
}

#logForm{
    margin-right: auto ;
    margin-left: auto ;
}
#login{
    text-align: center;
    width:auto;
    margin-top:20px;
}

#entry{
    font-size:11px;
    text-align: center;
}

#adminMenu{
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
    text-align: center;

}
#adminMenu img{
    height: 110px;
    width: 110px;
    margin: 30px;
    z-index: 1;
}

#adminMenu td{
    padding-left:  30px;
    padding-right: 30px;
}

#adminMenu td p{
    margin-top:-25px ;
    z-index: 2;
}

/* book search */
#tables{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#searchBox{
    display: flex;
    font-size:15px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.selBox{
    width: 100%;
}

td .submit{
    margin-top: 10px;
    text-align: center;
    position: relative;
        left: 45px;
}
#line{
    width: 2px;
    border-right: solid 2px rgb(212, 212, 212);
    margin-left: 10px;
    margin-right: 10px;
}

/* adduser */
#addUser, #addBook, #confUser, .searchUser, #editTable{
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
    background-color: rgb(250, 250, 250);
    border: solid  rgb(216, 216, 216);
    border-collapse: collapse;
}

#addUser th,#addUser td, #addBook th, #addBook td, #confUser th, #confUser td, .searchUser th, .searchUser td, .editTr td, .editTr th{
    border-top: solid 1px rgb(180, 180, 180);
    border-bottom: solid 1px rgb(180, 180, 180);
    /* border-left:solid 1px rgb(180, 180, 180); */
    border-right:none;

    text-align: center;
    padding: 10px;
}
 #addUser td, .searchUser td, #addBook td{
    text-align: left;
}

.confBookTh{
    border-left:solid 1px rgb(180, 180, 180);
}
.etc{
    font-size: 12px;
    margin-bottom: -5px;
    margin-top: -0.5pt;
}

#email, #emailConf, #pass, #passConf{
width: 333px;

}

#box3{
    padding-top: 20px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

#error, .error{
    font-size: 11px;
    color: red;
    text-align: center;
    margin: -2.5px;
}

#confUser td p{
    text-align: center;
    font-size: 17px;
}

.air{
    width: 5%;
}

hr{
    background-color:  rgb(75, 75, 75);
    height: 1.5px;
    margin-top:20px;
    margin-bottom:20px;
}

.finMessage, .message{
    font-size: 15px;
    text-align: center;
}

/* src user */
.resBoxHead{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end
}
.resCount{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-bottom: 5px;
}

.resCount p{
    margin-bottom: 0px;
    width: auto;
    text-align: right;
}

.resTable{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
    background-color: rgb(247, 247, 247);
    border: solid  rgb(216, 216, 216);
    border-collapse: collapse;
    
}

.resHead th, .resBody td{
    border-top: solid 1px rgb(180, 180, 180);
    border-bottom: solid 1px rgb(180, 180, 180);
    border-left:none;
    border-right:none;
    padding: 10px;
    text-align: center;
}

.resHead th{
    background-color: white;
    border-top: solid 1px rgb(180, 180, 180);
    border-bottom: solid 1px rgb(180, 180, 180);
    border-left:none;
    border-right:none;
}

.resBody:nth-child(even) .editTr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

.resBody:nth-child(odd), .editTr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}

.pagination{
    text-align: center;
    list-style: none;
    position: relative;
        right: 20px;
}

li {
    display: inline-block;
}

li a{
    margin: 2px;
    min-width: 25px;
    padding: 3.0px;
    border: 0.5px solid  rgb(209, 209, 209);
    text-align: center;
    border-radius: 2px;
    display: block;
    align-items: flex-end;
    outline: none;
}

.page-item.active {
    background-color:rgb(209, 209, 209);
    border: 0px solid  rgb(209, 209, 209);
    border-radius: 2px;
    border: 2px;
    text-decoration: underline;
    align-items: flex-end;
    outline: none;
}

/* モーダル部 */
#overlay, #overlay-edit, #overlay-edit{
    z-index:1;
    position  : fixed;
        top   : 0;
        left  : 0;
        width : 100%;
        height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
}
#content, #content-edit, #content-edit-conf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
        top: 8%;
        left: 14%;
    z-index:2;
    width:70%;
    min-width: 480px;
    min-height: 320px;
    padding: 1em;
    background:#fff;
    border-radius: 3px;
    max-height: 85%;
    /* スクロール指定 */
    overflow-y:scroll;
    /* transition */
    transition: all 0.4s ease;
  }
  #book-edit{
      display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
        top: 10%;
        left: 15%;
    z-index:2;
    /* height:auto; */
    min-width: 480px;
    padding: 1em;
    background:#fff;
    border-radius: 3px;
    max-height: 85%;
    padding-bottom: 50px;
    /* スクロール指定 */
    overflow-y:scroll;
    /* transition */
    transition: all 0.4s ease;
  }
.editConf{
    margin-top:5px;
}
h4{
    text-align: center;
}
.tdInput{
    width: 100%;
}
#editTable{
    min-width: 350px;
}
.deleteConf, .editConf{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.um-enter, .um-leave-active, .uem-enter, .uem-leave-active, 
.bm-enter, .bm-leave-active, .loading-enter,
.bem-enter, .bem-leave-active, .loading-leave-active{
    opacity:0;
} 
.uecm-enter, .uecm-leave-active, .becm-enter, .becm-leave-active{
    opacity:0;
}


/* sort */
.checkSort{
    position: relative;
        left:3px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(236, 236, 236);
    background-color: rgb(255, 255, 255);
}